@import "../../../styles.scss";

.template-form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;

    h2{
        font-size: 28px;
        padding-top: 40px;
        margin-bottom: 40px;
    }
    form{
        width: 100%;
        max-width: 600px;
    }
    label{
        display: block;
        letter-spacing: 1px;
        margin-bottom: 8px;
    }
    input{
        height: 24px;
        width: 100%;
        padding: 2px 6px;
        border: 1px solid $black;
        outline: none;
        letter-spacing: 1px;
        margin-bottom: 20px;

        &:focus{
            border: 1px solid $accent;
        }
    }
    .error{
        color: $accent;
        margin-top: -10px;
    }
} 